button {
  appearance: none;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font: inherit;
  cursor: pointer;
}

.groupchat {
  display: flex;
  height: 100%;
  width: 100%;
}

.canvas {
  background-color: rgb(108, 108, 108);
  position: relative;
  width: 100%;
}

.groupchat-exit {
  position: absolute;
  transition-duration: 0.8s;
  top: 10px;
  right: 10px;
  height: 71px;
  width: 73px;
  opacity: 0.5;
}

.groupchat-exit:active {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 71px;
  width: 73px;
  opacity: 1;
}

.groupchat-exit-hidden {
  transform: translateY(-200%);
  transition-duration: 0.8s;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 71px;
  width: 73px;
  opacity: 0.5;
}

.fullscreen-x {
  position: absolute;
  transition-duration: 0.8s;
  top: 10px;
  right: 10px;
  height: 61px;
  width: 63px;
  opacity: 0.5;
}

.fullscreen-x-hidden {
  transform: translatex(200%);
  transition-duration: 0.8s;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 61px;
  width: 63px;
  opacity: 0.5;
}

.side-menu-div {
  transform: translateX(100%);
  height: 89%;
  width: 23%;
  right: 0px;
  position: absolute;
  background-color: #000000cc;
  transition-duration: 0.8s;
}

.side-menu-div-on {
  color: #f7fbfc;
  transform: translateX(0);
  height: 89%;
  width: 23%;
  right: 0px;
  position: absolute;
  background-color: #00000080;
  transition-duration: 0.8s;
}

.house-image {
  overflow: auto;
}

.user-bg {
  font-size: 20px;
  font-weight: bold;
}

.settings-form-on {
  position: absolute;
  transform: translateX(0%);
  color: #f7fbfc;
  opacity: 1;
}

.sticker-form-on {
  position: absolute;
  transform: translateX(0%);
  color: #f7fbfc;
  opacity: 1;
}

.chat-form-on {
  position: absolute;
  transform: translateX(0%);
  color: #f7fbfc;
  opacity: 1;
}

.underbar-container {
  transition-duration: 0.8s;
  display: flex;
  position: absolute;
  height: 10%;
  bottom: 0px;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.underbar-container-hidden {
  transform: translateY(200%);
  transition-duration: 0.8s;
  display: flex;
  position: absolute;
  height: 10%;
  bottom: 0px;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.left-menu-container {
  display: flex;
}

.left-menu-in {
  transform: translateX(-200%);
  transition-duration: 0.8s;
}

.left-menu-out {
  transform: translateX(0);
  transition-duration: 0.8s;
}

.back {
  margin-top: 5px;
  height: 60px;
  opacity: 0.5;
  transition-duration: 0.3s;
}

.aback {
  margin-top: 5px;
  height: 60px;
  opacity: 1;
  transform: scaleX(-1);
  transition-duration: 0.3s;
}

.profile-wrapper {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.user {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.user-stat {
  margin: 0px 20px 0px 0px;
}

.username {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.onlinetf {
  font-family: "Courier New", Courier, monospace;
}

.user-stat-control {
  visibility: hidden;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.a-user-stat-control {
  visibility: visible;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.mic-control {
  visibility: hidden;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.a-mic-control {
  visibility: visible;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.vol-control {
  visibility: hidden;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.a-vol-control {
  visibility: visible;
  width: 120px;
  background-color: #f7fbfc;
  color: #000;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.setting-menu-div {
  padding: 0px 10px 0px 10px;
}

.chat-menu-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  justify-content: space-between;
}

.groupchat-log-div {
  height: 100%;
  overflow-y: auto;
}

.groupchat-log-div::-webkit-scrollbar {
  width: 10px;
}

.groupchat-log-div::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bebebe; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.groupchat-log-div::-webkit-scrollbar-track {
  background: #00000000; /* 스크롤바 뒷 배경 색상 */
}

.groupchat-log-div::-webkit-scrollbar-button {
  display: none;
}

.chat-input-div {
  padding-top: 5px;
  display: flex;
  position: relative;
  height: 40px;
  bottom: 0px;
  border-top: 2px solid #ccc;
  justify-content: space-between;
}

.chat-input-kan {
  color: #f7fbfc;
  height: 35px;
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  position: relative;
  background: none;
  z-index: 5;
}

.chat-input-kan::placeholder {
  color: #bebebe;
}

.chat-input-kan:not(:placeholder-shown) {
  color: #ffffff;
}

.add-imo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.send-message-plane {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 1px;
  cursor: pointer;
}

/* 아코디언 스타일 */
.accordion {
  width: 100%;
  margin: 20px auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  cursor: pointer;
  font-weight: bold;
}

.accordion-content {
  padding: 10px;
  visibility: hidden;
  height: 0;
}

/* 아코디언 활성화 스타일 */
.a-accordion-item .accordion-content {
  display: block;
  visibility: visible;
  height: initial;
  border-bottom: 1px solid #ccc;
}

.accordion-vol {
  display: flex;
}
.accordion-ch {
  display: flex;
  justify-content: space-between;
}

.ch-name {
  height: 1.5rem;
  border-radius: 0.3rem;
  width: 80%;
}

.ch-name-btn {
  background-color: #f7fbfc;
  height: 1.5rem;
  width: 18%;
  border: 0px;
  padding: 0px;
  opacity: 0.8;
  border-radius: 0.8rem;
}

.ch-name-btn:active {
  background-color: #f7fbfc;
  height: 1.5rem;
  width: 18%;
  border: 0px;
  padding: 0px;
  opacity: 1;
  border-radius: 0.8rem;
}

.cam-dev-block {
  height: 0;
  display: none;
}

.sharingScreen {
  height: 300px;
  width: 300px;
}

.sticker-upload {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sticker-preview {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 0% 3% 0% 0%;
  margin-bottom: 10%;
}

.file-label {
  font-size: small;
}

.bg-tag {
  font-size: 18px;
  text-align: right;
}

.house-sticker {
  margin: 6px 6px 0px 6px;
  width: 20%;
}

.fullscreen-chat {
  animation: fadein 1s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  width: 25%;
  height: 50%;
}

@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullscreen-chatlog {
  animation: fadein 1s;
  color: #f7fbfc;
  background: #00000080;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  width: 100%;
  height: 90%;
  opacity: 1;
  transition: opacity 10s;
}

@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullscreen-chatlog:last-child {
  background: #00000080;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  width: 100%;
  height: 90%;
  opacity: 1;
  transition: opacity 0.3s;
}

.fullscreen-face {
  animation: fadein 1s;
  background-color: #00000080;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  height: 30%;
  width: 60%;
}

@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullscreen-chat-hidden {
  animation: fadeout 1s;
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  width: 25%;
  height: 50%;
}

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fullscreen-chatlog-hidden {
  animation: fadeout 1s;
  display: none;
  color: #f7fbfc;
  background: #00000080;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  width: 100%;
  height: 90%;
  opacity: 1;
  transition: opacity 10s;
}

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fullscreen-face-hidden {
  animation: fadeout 1s;
  display: none;
  background-color: #00000080;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0 0 10px 10px;
  height: 30%;
  width: 60%;
}

@keyframes fadeout {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#profile {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  opacity: 0.8;
  width: 180px;
  height: 60px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#profile:active {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  opacity: 0.8;
  width: 180px;
  height: 60px;
  box-shadow: inset 3px 3px 10px rgb(0, 0, 0);
}

#mic {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  opacity: 0.8;
  width: 70px;
  height: 60px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#mic:active {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  width: 70px;
  height: 60px;
  box-shadow: inset 3px 3px 10px rgb(0, 0, 0);
}

#vol {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  opacity: 0.8;
  width: 70px;
  height: 60px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#vol:active {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  width: 70px;
  height: 60px;
  box-shadow: inset 3px 3px 10px rgb(0, 0, 0);
}

#cam {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  opacity: 0.8;
  width: 70px;
  height: 60px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#cam:active {
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  width: 70px;
  height: 60px;
  box-shadow: inset 3px 3px 10px rgb(0, 0, 0);
}

#new-message {
  font-weight: bold;
  justify-content: space-between;
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px 20px 0px 10px;
  opacity: 0;
  height: 60px;
  width: 135px;
  margin-right: 15px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#a-new-message {
  font-weight: bold;
  justify-content: space-between;
  background-color: #f7fbfc;
  border: 0px;
  padding: 0px 20px 0px 10px;
  opacity: 0.8;
  height: 60px;
  width: 135px;
  margin-right: 15px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  transition-duration: 0.3s;
}

#settings {
  height: 60px;
  width: 60px;
  opacity: 0.5;
}

#asettings {
  height: 60px;
  width: 60px;
  opacity: 1;
}

#sticker {
  margin: 0px 10px 0px 6px;
  height: 60px;
  width: 60px;
  opacity: 0.5;
}

#asticker {
  margin: 0px 10px 0px 6px;
  height: 60px;
  width: 60px;
  opacity: 1;
}

#stickerimg {
  height: 60px;
  width: 60px;
}

#chat {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

#achat {
  width: 60px;
  height: 60px;
  opacity: 1;
}

#sticker-and-backimg {
  margin: 10px 30px 20px 30px;
  display: flex;
  justify-content: space-around;
  color: #f7fbfc;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.stk-bg-selecter {
  color: #769fcd;
}

.sticker-menu {
  width: 0;
  height: 100%;
  display: none;
  transition-duration: 0.3s;
  overflow: hidden;
}

.sticker-menu-on {
  transition-duration: 0.3s;
  height: 90%;
  padding: 0px 40px 0px 50px;
  overflow: auto;
}

.sticker-menu-on::-webkit-scrollbar {
  width: 10px;
}

.sticker-menu-on::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bebebe; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.sticker-menu-on::-webkit-scrollbar-track {
  background: #00000000; /* 스크롤바 뒷 배경 색상 */
}

.sticker-menu-on::-webkit-scrollbar-button {
  display: none;
}

#back-menu {
  width: 0;
  height: 100%;
  display: none;
  transition-duration: 0.3s;
  overflow: hidden;
}

#back-menu-on {
  transition-duration: 0.3s;
  height: 90%;
  padding: 0px 40px 0px 50px;
  overflow: auto;
}

#back-menu-on::-webkit-scrollbar {
  width: 10px;
}

#back-menu-on::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bebebe; /* 스크롤바의 색상 */
  border-radius: 10px;
}

#back-menu-on::-webkit-scrollbar-track {
  background: #00000000; /* 스크롤바 뒷 배경 색상 */
}

#back-menu-on::-webkit-scrollbar-button {
  display: none;
}

#delete-img-menu {
  display: none;
  position: absolute;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}
