.login_first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    flex-wrap: wrap;
}

.login_wrap { 
    background-color: #F7FBFC;
    width: 70%;
    height: 80%;
    min-height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_base{
    width: 90%;
    height: 90%;
}
.login_title {
    color: #1E4C80;
    font-size: 3.5vw;
    font-weight: 900;
    
    height: 15%;
    
}
.login_img{
    
    height: 15%;

}
.login_inputs {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login_buttons {
   height: 15%;
   display: flex;
   align-items: center;
}

.login_findes {
    /* width: 100%; */
    height: 10%;
    font-weight: bold;
    font-size: 20px;
    color: #80C4FF;
    display: flex;
    justify-content: center;
}



.login_label{
    color: #80C4FF;
    font-size: 25px;
    font-weight: bold;
}

.login_input{
    background-color: #D6E6F2;
    border-radius: 20px;
    font-size: 40px;
}

.login_button{
    background-color: #769FCD;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 40px;
    display: flex;
    align-items: center;
}
  
  
@media screen and (max-width : 768px) {
    .login_img{
        display: none;
        
    }
    
     .login_input{
        font-size: 30px;
    }
    .login_button{
        font-size: 30px;
    }
    .login_base{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .login_label{
        font-size: 2.5vw;
    }
    .login_findes {
       font-size: 2.5vw;
    }
    .login_title{
        font-size: 6vw;
    }
  }

  @media screen and (max-height : 800px) {
     .login_input{
        font-size: 35px;
    }
    .login_button{
        font-size: 35px;
    }

  }

  