.presetpost_card{
    height : 90%;
    width: 50%;
    overflow: auto;
}

.presetpost_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.presetpost_icon:hover{
    cursor: pointer;
    transform: scale(1.2); /* 이미지 크기를 1.05배로 확대 */
    transition: transform 0.3s;
}

.presetpost_media-content{
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presetpost_card::-webkit-scrollbar {
    width: 7px; /* 스크롤바 너비 */
  }
  .presetpost_card::-webkit-scrollbar-thumb {
    /* background-clip: border-box; */
    background-color: #d3d3d3 !important;
    border-radius: 20px !important;
  }
  .presetpost_card::-webkit-scrollbar-track {
    background-color: transparent;
  }