.backAndServerNameContainer {
    display: flex;
    align-items: flex-start;
    align-self: stretch; /* add this line */
    margin-top: 1%;
  }
  
  .backArrowIcon {
    cursor: pointer;
    margin-left: 4%;
    margin-top: 0.2%;
    max-width: 3%;
    margin-right: 35%;
  }

.channelServerNameText{
    font-size: xx-large;
    font-weight: bolder;
}

.channelNameText{
  display: flex;
  margin-top: 1%;
  align-self: flex-start;
  font-size: x-large;
  font-weight: 600;
  margin-left: 5%;
  margin-bottom: 1%;
}

.sliderChannelContainer{
  width:100%;
}

.channelCard {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.channelCard-imageContainer {
  width: 100%;
  padding-bottom: 20vh; 
  position: relative;
}

.channelCard-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.channelCard-content {
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-server{
  align-self: flex-start;
  font-weight: 600;

  margin-left: 5%;
  margin-bottom: 5%;
}

.collapsibleIcon {
  height: 8px;
  width: 15px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.plusIcon{
  margin-left: 8px;
  margin-top: 6px;
  max-width: 20%;
  max-height: 63%;
  cursor: pointer;
}

.channelPlusModal {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
  border-radius: 15px;
}
.channelPlusModal:focus {
  outline: none;
}
.channelCard-members{
  position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 9px;
    padding-bottom: 2px;
}

.cPMOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.641)
}

.closeModalButton {
  align-self: start;
  border: none;
  background: none;
  cursor: pointer;
}

.cPImagePlaceholder{
  display: flex;
  cursor: pointer;
  width: 600px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.cPImagePlaceholder img{
  width: 40%;
}

.channel-apply-button{
  background-color: #769FCD;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  margin-top: 3%
}

.channelNameInput{
  background-color: #E9F8FF;
    border-radius: 8px;
    border-width: 0.5px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 40px;
    padding-left: 20px;
}

.changeImageButton{
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content-channelplus-image .cropper-view-box {
  border-radius: 0;
}

.serverMenuIcon{
  margin-top: 12px;
  margin-left: 9px;
  max-height: 40%;
  cursor: pointer;
}

.channelCard-menuIcon{
  cursor: pointer;
}

.inviteLinkModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  align-content: center;
}
.inviteLinkModal button{
  margin-top: 25px;
}
.inviteLinkModal:focus {
  outline: none;
}

.serverMembers{
  display: flex; 
  justify-content: space-between;
}


.serverMembers img{
  max-height: 8vh;
  margin: 0px 10px 0px 10px;
  border-radius: 50%;
}

.profilePopover{
  display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.profilePopover h2{
  font-size: large;
  font-weight: bold;
  margin: 5px;
}


.profilePopover img{
  max-height: 15vh;
  border-radius: 50%;
}

.scrollable-area-members{
  max-height: 300px;
  overflow-y: hidden;
  align-self: flex-start;
  margin-left: 3%;
  margin-right: 3%;
}

.profilePopup {
  min-width: 60px;
  min-height: 60px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto; /* 프로필 목록이 많을 경우 스크롤이 생깁니다 */
  z-index: 9999; /* 다른 요소 위에 올라오도록 설정합니다 */
}

.profilePopup img {
  min-width: 50px;
  min-height: 50px;
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%; /* 이미지를 원형으로 만듭니다 */
  margin-right: auto;
}
