.backAndServerNameContainer {
    display: flex;
    align-items: flex-start;
    align-self: stretch; /* add this line */
    margin-top: 1%;

  }
  
  .backArrowIcon {
    cursor: pointer;
    margin-left: 4%; /* Adjust the spacing as needed */
    margin-right: 30%;
    margin-top: 0.2%;
    max-width: 3%;
  }

.channelServerNameText{
    font-size: 20pt;
    font-weight: 600;
}

.channelNameText{
  display: flex;
  margin-top: 1%;
  align-self: flex-start; /* add this line */
  font-size: x-large;
  font-weight: 600;
  margin-left: 5%;
  margin-bottom: 2%;
}

.sliderChannelContainer{
  width:100%;
}

.channelCard {
  background-color: white;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.channelCard-imageContainer {
  width: 100%;
  padding-bottom: 135px; /* for 16:9 aspect ratio */
  position: relative;
}

.channelCard-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.channelCard-content {
  padding: 10px 20px 20px 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-server{
  align-self: flex-start;
  font-weight: 600;

  margin-left: 5%;
  margin-bottom: 5%;
}

.collapsibleIcon {
  height: 8px;
  width: 15px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.plusIcon{
  margin-left: 8px;
  margin-top: 6px;
  max-width: 20%;
  max-height: 63%;
  cursor: pointer;
}

.channelPlusModal {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
  border-radius: 15px;
}
.channelPlusModal:focus {
  outline: none;
}

.cPMOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.641)
}

.closeModalButton {
  align-self: start;
  border: none;
  background: none;
  cursor: pointer;
}

.cPImagePlaceholder{
  display: flex;
  cursor: pointer;
  width: 600px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.cPImagePlaceholder img{
  width: 40%;
}

.channel-apply-button{
  background-color: #769FCD;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  margin-top: 3%
}

.channelNameInput{
  background-color: #E9F8FF;
    border-radius: 8px;
    border-width: 0.5px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 40px;
    padding-left: 20px;
}

.changeImageButton{
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content-channelplus-image .cropper-view-box {
  border-radius: 0;
}

.serverMenuIcon{
  margin-top: 12px;
  margin-left: 9px;
  max-height: 40%;
  cursor: pointer;
}

.channelCard-menuIcon{
  cursor: pointer;
}